body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0 18%;
}

h1, h1 > img {
  vertical-align: middle;
}

a:link, a:visited {
  color: #666666;
}

a:hover {
  color: #aaaaaa;
  text-decoration: none;
}

label {
  display: inline-block;
  height: 40px;
  margin-left: 10px;
  position: relative;
}

label > span:first-child {
  display: inline-block;
  vertical-align: middle;
  width: 180px;
}

label > input.error {
  border: 1px solid #aa0000;
  box-shadow: 0px 0px 5px #AA0000;
}

label > span.error {
  background: none repeat scroll 0% 0% #F8BEBE;
  border: 1px solid #540000;
  border-radius: 6px;
  color: #660000;
  font-size: 13px;
  padding: 5px;
  position: absolute;
  left: 101%;
  top: 0;
  width: 180px;
  z-index: 10;
}

.required span:first-child:before {
  color: #FF0000;
  content: "* ";
  vertical-align: middle;
}

input {
  border: 1px solid #808080;
  padding: 5px;
  vertical-align: middle;
}

select[name="documentType"] {
  width: 88px;
}

fieldset {
  border-radius: 8px;
  margin: 15px 0;
}

fieldset > div, fieldset > p {
  margin-left: 10px;
}

.actions {
  text-align: right;
}

.main-action {
  background: #000000;
  border: 1px solid #888888;
  border-radius: 4px;
  color: #efefef;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 8px;
}

/** Tooltips */
.tooltip {
  background: url(../images/icon-help-16.png) no-repeat 0 0;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  text-decoration: none;
  text-indent: -9999px;
  vertical-align: middle;
  width: 16px;
}
