<!doctype html>
<html>
  <head>
    <title>Afiliador del Partido Pirata Argentino</title>
  </head>
  <body>
    <p>¡Gracias por apoyar al Partido Pirata!</p>
    <p>Este es tu código de afiliación. Conservá este código por si cambiás de opinión y querés desafiliarte. Tené en cuenta que si perdés este código sólo vas a poder desafiliarte contactándote por email con el partido.</p>
    <p>Te recordamos que tus datos están encriptados, nosotros no tenemos forma de saber si ya te afiliaste anteriormente o no. Te pedimos que no envies tus datos de afiliación más de una vez :)</p>
    <p><strong>{{affiliationCode}}</strong></p>
    <h2>¿Y cómo sigue la aventura?</h2>
    <ol>
      <li>Siendo afiliado tenés acceso a la infraestructura del partido. Esto significa:
        <ul>
          <li>Vas a tener un email @partidopirata.com.ar</li>
          <li>Vas a poder participar de las decisiones del partido, presentar propuestas y organizar las actividades piratas que te interesen.</li>
          <li>¡Vas a poder hablar como pirata!</li>
        </ul>
      </li>
      <li>
        Vamos a hacer eventos y fiestas piratas para que vengas a firmar las fichas de afiliación. Te vamos a avisar por email.
      </li>
      <li>
        Si te interesa participar en las actividades del partido, envianos un email a <a href="mailto:contacto@partidopirata.com.ar">contacto@partidopirata.com.ar</a> con tu nickname y te ayudamos a integrarte.
      </li>
    </ol>
  </body>
</html>
