<!doctype html>

<html>
  <head>
    <title>¡Bienvenido al Partido Pirata!</title>
  </head>
  <body>
    <table style="width: 600px; border-spacing: 0; border: 1px solid #666666">
      <tbody>
        <tr>
          <td style="text-align: left;">
            <img src="cid:logo+nombre.png" style="border: none;">
          </td>
        </tr>
        <tr>
          <td style="text-align: left">
            <p>
              Hola <strong>{{userName}}</strong>.
            </p>
            <p>
              Bienvenid@ al PPAr. Te contamos que lo importante para nosotros es la participación. Creemos que a través de las actividades se generan vínculos de amistad que permiten afianzar nuestros principios y trabajar como pares en los proyectos políticos. Para empezar, te sugerimos que leas algunos de los documentos que explican quiénes somos, qué hacemos y cómo lo hacemos:
              <ul>
                <li><a href="http://partidopirata.com.ar/principios-piratas/">Principios Piratas</a></li>
                <li><a href="http://wiki.partidopirata.com.ar/Como_Participar">Cómo organizarte y participar en las Asambleas</a></li>
                <li><a href="http://wiki.partidopirata.com.ar/Cosas_para_hacer">Cosas para hacer dentro del partido</a></li>
                <li><a href="https://wiki.partidopirata.com.ar/Categor%C3%ADa:Propuestas">Propuestas y actividades en progreso</a></li>
                <li><a href="http://partidopirata.com.ar/documentos/CartaOrganica.html">Nuestra Carta Orgánica</a></li>
              </ul>
            </p>
            <p>
            Esperamos conocerte pronto en alguna de nuestras actividades lejos del teclado.
            </p>
            <p>
              Intereses: {{interests}}
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>